html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;

    font-family: 'Noto Sans JP', sans-serif;
    margin: 0px;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.left-col {
    display: flex;
    flex: 4;
    justify-content: end;
    align-items: center;
}

.right-col {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF0A62;
    width: 12rem;
    height: 12rem;
    margin: 30px;

    cursor: pointer;

    border-radius: 50%;

    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    letter-spacing: -1px;

    text-decoration: none;

    color: #F00149;
    -webkit-text-stroke: 3px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transition-property: color, box-shadow;
    transition-duration: 200ms;
    box-shadow: inset 0px 10px 0px 3px rgba(0, 0, 0, 0.55);
}

.play-button:hover {
    box-shadow: inset 0px 0px 0px 6px rgba(0, 0, 0, 0.55);
}


.options {
    width: 15rem;
    height: 30rem;
    margin: 30px;

    background: #F00149;
    border-radius: 9px;

}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    display: flex;
    justify-content: center;
}

.score {
    font-size: 40px;
    color: #E90000;
    position: absolute;
    left: 1%;
    top: 1%;
    margin: 0;
}

.notesframe {
    height: 100vh;
    width: 30rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

    box-sizing: border-box;
    background: #000000;
    border-width: 0px 5px;
    border-style: solid;
    border-color: #E90000;
}

.healthbar {
    box-sizing: border-box;

    position: absolute;
    left: 68%;
    top: 52%;
    width: 2rem;
    height: 20rem;

    background: #00FF19;
    border: 3px solid #E90000;
    border-radius: 11px;
}

.accuracy {
    background: #D9D9D9;
    border-radius: 26px;
    position: absolute;

    width: 6rem;
    height: 6rem;
    left: 90%;
    top: 5%;

    display: flex;
    justify-content: center;
    align-items: center;


    font-weight: 500;
    font-size: 30px;
}

.note-type1 {
    background: #0289EB;
    border: 2px solid #0050AE;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    position: absolute;
    top: 85%;
}

.note-type2 {
    background: #0050AE;
    border: 2px solid #0289EB;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    position: absolute;
    top: 85%;
}

.note-type-active {
    background: #6db4e7;
    border: 2px solid #1b009d;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    position: absolute;
    top: 85%;
}