body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0px;
    height: 100vh;
    background-color: black;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FF0A62;
    box-shadow: inset 0px 10px 0px 3px rgba(0, 0, 0, 0.55);
    width: 12rem;
    height: 12rem;

    border-radius: 50%;

    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;

    /* border not working */
    border: 3px solid #000000;
    
}


.options {


    
    width: 15rem;
    height: 30rem;
    background: #F00149;
    border-radius: 9px;

}